{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <h1>
        {{ 'Welcome' | trans }}
    </h1>
    <p>
        {{ "home_recipe_count" | trans({count: 0}) }}
    </p>
{% endblock %}
