{% extends 'admin/admin.html.twig' %}

{% block title "Recette :" ~ recipe.title %}

{% block body %}
    <h1>{{ recipe.title }}</h1>

    <img src="{{ vich_uploader_asset(recipe, 'thumbnailFile') }}" alt="">

    <turbo-frame id="recipe_{{ recipe.id }}">
        {{ form(form, {action: path('admin.recipe.edit', {id: recipe.id})}) }}
    </turbo-frame>
{% endblock %}
