{% extends 'base.html.twig' %}

{% block title %}Toutes les recettes {% endblock %}

{% block body %}
    <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
        when an unknown printer took a galley of type and scrambled it to make a type specimen book.
    </p>

    <ul>
        {% for recipe in recipes %}
        <li>
            <a href="{{ path('recipe.show', {id: recipe.id, slug: recipe.slug}) }}">{{ recipe.getTitle() }}</a>
        </li>
        {% endfor %}
    </ul>
{% endblock %}
