<p>
    Une nouvelle demande de contact a été reçue
</p>

<ul>
    <li>Nom : {{ data.name }}</li>
    <li>Email : {{ data.email }}</li>
</ul>

<p>
    <strong>Message</strong>:<br>
    {{ data.message | nl2br }}
</p>